---
title: Engineering Fluid Mechanics and the Environment
start_datetime: 2021-03-23 8:00:00
end_datetime: 2021-03-24 18:00:00
timezone: Africa/Cape
description: A fun filled day with friends and beer.
background_image: /images/background.jpg
logos:
  
  - logo_image: /images/ukznLogo2.jpg
    logo_title: UKZN
  - logo_image: /images/SAICE.jpg
    logo_title: SAICE
  
map:
  address: Mazisi Kunene Rd, University, Berea, 4041
  zoom: 16
  latitude: 37.7938462
  longitude: -122.3970253
featured_brews:
  - label_image: /uploads/beers/label-1.png
    title: Count Chocula
    link: #
  - label_image: /uploads/beers/label-2.png
    title: Professor Pope
    link: #
  - label_image: /uploads/beers/label-3.png
    title: Blazing Dog
    link: #
  - label_image: /uploads/beers/label-4.png
    title: Extravagant Bartender
    link: #
  - label_image: /uploads/beers/label-5.png
    title: Brain Sour
    link: #
  - label_image: /uploads/beers/label-6.png
    title: Chinchilla
    link: #
  - label_image: /uploads/beers/label-7.png
    title: Frosty Boots
    link: #
  - label_image: /uploads/beers/label-8.png
    title: Grape Pirate
    link: #
  - label_image: /uploads/beers/label-9.png
    title: Blue Bus
    link: #
  - label_image: /uploads/beers/label-10.png
    title: Orange Tank
    link: #
  - label_image: /uploads/beers/label-11.png
    title: Kangaroo
    link: #
  - label_image: /uploads/beers/label-12.png
    title: CloudCannon
    link: #
photos:
  - image: /uploads/2015/1.jpeg
    title: Malt Festival 1
  - image: /uploads/2015/2.jpeg
    title: Malt Festival 2
  - image: /uploads/2015/3.jpeg
    title: Malt Festival 3
  - image: /uploads/2015/4.jpeg
    title: Malt Festival 4
  - image: /uploads/2015/5.jpeg
    title: Malt Festival 5
  - image: /uploads/2015/6.jpeg
    title: Malt Festival 6
  - image: /uploads/2015/7.jpeg
    title: Malt Festival 7
  - image: /uploads/2015/8.jpeg
    title: Malt Festival 8
  - image: /uploads/2015/9.jpeg
    title: Malt Festival 9
  - image: /uploads/2015/10.jpeg
    title: Malt Festival 10
  - image: /uploads/2015/11.jpeg
    title: Malt Festival 11
  - image: /uploads/2015/12.jpeg
    title: Malt Festival 12
  - image: /uploads/2015/13.jpeg
    title: Malt Festival 13
_options:
  label_image:
    width: 400
    height: 400
  image:
    width: 600
    height: 1200
---

<p class="success">Message sent, we'll be in touch soon.</p>

<p class="dates">
	{{ page.start_datetime | date: "%A %-d of %B %Y %-I%P" }} - {{ page.end_datetime | date: "%A %-d of %B %Y %-I%P" }}
	<span class="addtocalendar atc-style-button-icon atc-style-menu-wb">
		<a class="atcb-link">{% include icons/date.svg %}</a>
		<var class="atc_event">
			<var class="atc_date_start">{{ page.start_datetime | date: "%Y-%m-%d %H:%M:%S" }}</var>
			<var class="atc_date_end">{{ page.end_datetime | date: "%Y-%m-%d %H:%M:%S" }}</var>
			<var class="atc_timezone">{{ page.timezone }}</var>
			<var class="atc_title">{{ page.title }}</var>
			<var class="atc_description">{{ page.description }}</var>
			<var class="atc_location">{{ page.map.address }}</var>
		</var>
	</span>
</p>
<div></div>
<p class="editable">
  This course aims to develop and demonstrate innovation, 
  technical competence and professional expertise in 
  Coastal and Water Engineering. 
  We present the latest international trends in engineering design 
  and knowledge within the context of climate change. 
  This course combines new concepts in design with practical 
  applications using UKZN’s state of the art research laboratories. 
  Participants will have the chance to run a wave flume to visualise 
  and interpret how waves interact with coastal protection schemes. 
</p>

<!-- <h3 class="editable">Sessions</h3> -->

  <div class="text">
      <h3 class="editable">Sessions</h3>
      <h4 class="editable">Monday to Tuesday</h5>
        <p class="editable">0830 – 1200 Morning Session with a coffee/tea break</p>
        <p class="editable">1200 – 1300 Lunch</p>
        <p class="editable">1300 – 1600 Afternoon Session with short break</p>
    
  </div> 
  <h3 class="editable">Program</h3> 
  {% include schedule.html %}
  


<h3 class="editable">Register here</h3>
<!--{{ site.eventbrite_embed }}-->

<h3 class="editable">Tell your colleagues</h3>
<div class="sharing">
	{% assign share_url = page.url | absolute_url | cgi_escape %}
	<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">{% include icons/social-icon.html icon="Facebook" %}</a>
	<a class="twitter" href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=I'm%20going%20to%20this%20event!">{% include icons/social-icon.html icon="Twitter" %}</a>
	<a class="instagram" href="https://instagram.com">{% include icons/social-icon.html icon="Instagram" %}</a>
	<a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ share_url }}">{% include icons/social-icon.html icon="LinkedIn" %}</a>
	<a class="email" href="mailto:?subject=I'm going to this event&amp;body=Check%20it%20out%20-%20{{ share_url }}">{% include icons/social-icon.html icon="Email" %}</a>
</div>

<h3 class="editable">Location</h3>
<div class=" jusmap" id="gmap_canvas">
<!--<address><a href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">{% include icons/place.svg %} {{ page.map.address }}</a></address>
-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3459.920082309533!2d30.979733139562498!3d-29.86657853726344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x66ecc5a4c696532c!2sHoward%20College%20Gate%201!5e0!3m2!1sen!2sza!4v1644846470936!5m2!1sen!2sza" width="70%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
 </div>

  

<h3 class="editable">Contact</h3>
<p class="editable">Send us a message with any questions about sponsoring the event, tickets or anything else.</p>

<form method="post" action="https://getform.io/f/dbf790ed-2cd0-4303-8219-16af265f87a0">
	<label for="email_address">Email Address</label>
	<input id="email_address" type="text" name="email">

	<label for="name">Name</label>
	<input id="name" type="text" name="name">

	<label for="message">Message</label>
	<textarea id="message" name="message"></textarea>

	<input type="hidden" name="_to" value="contact@example.com">
	<input type="text" name="_gotcha" style="display: none;">

	<input type="submit" value="Send Message">
</form>
