<div class="row">        <!-- first two days -->
    <div class="col-md-6"> <!-- left column -->
      <h3>Day 1</h3>
      <table class="table table-striped">
        
        <tr>               <!-- row 2   -->
          <td>07:30</td>        <!-- time    -->
          <td>Registration</td>        <!-- content -->
          <td>UKZN/SAICE</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 3   -->
          <td>08:00</td>        <!-- time    -->
          <td>Welcome</td>        <!-- content -->
          <td>UKZN/SAICE</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>08:15</td>        <!-- time    -->
          <td>On Weather and Waves: Applications to Coastal Engineering</td>        <!-- content -->
          <td>Dr Justin Pringle</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>09:00</td>        <!-- time    -->
          <td>Stormier mid-Holocene southwest Indian Ocean due to poleward trending tropical cyclones</td>        <!-- content -->
          <td>Prof Andy Green</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>10:00</td>        <!-- time    -->
          <td>Tea</td>        <!-- content -->
          <td></td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>10:30</td>        <!-- time    -->
          <td>Will it stay, or will it go: nearshore sediment dynamics and coastal change.</td>        <!-- content -->
          <td>Dr Errol Wiles</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>11:30</td>        <!-- time    -->
          <td>Forecast Early Warning Systems</td>        <!-- content -->
          <td>Ms Kemira Naidoo</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>12:30</td>        <!-- time    -->
          <td>Lunch</td>        <!-- content -->
          <td></td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>13:30</td>        <!-- time    -->
          <td>Geo-Synthetic Containers</td>        <!-- content -->
          <td>FiberTex</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>14:30</td>        <!-- time    -->
          <td>Lab Demonstration</td>        <!-- content -->
          <td>UKZN</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>16:30</td>        <!-- time    -->
          <td>Close Day 1</td>        <!-- content -->
           <td>UKZN/SAICE</td>       <!-- speaker -->
        </tr>
      </table>
    </div>
    <div class="col-md-6"> <!-- right column -->
      <h3>Day 2</h3>
      <table class="table table-striped">
        
        <tr>               <!-- row 2   -->
          <td>07:30</td>        <!-- time    -->
          <td>Lab Demonstration</td>        <!-- content -->
          <td>UKZN</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 3   -->
          <td>09:30</td>        <!-- time    -->
          <td>Opening</td>        <!-- content -->
          <td>UKZN/SAICE</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>09:40-10:30</td>        <!-- time    -->
          <td>Coral Reefs</td>        <!-- content -->
          <td>Mr Calvin Wells</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>10:30</td>        <!-- time    -->
          <td>Tea</td>        <!-- content -->
          <td></td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>11:00</td>        <!-- time    -->
          <td>On the reef scale hydrodynamics at Sodwana Bay, South Africa</td>        <!-- content -->
          <td>Mr Atish Deoraj</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>12:00</td>        <!-- time    -->
          <td>Lunch</td>        <!-- content -->
          <td></td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>13:00</td>        <!-- time    -->
          <td>Hydrokites and Renewable Energy</td>        <!-- content -->
          <td>Mr Danel Capelo</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>13:30</td>        <!-- time    -->
          <td>Hydroponics</td>        <!-- content -->
          <td>Ms Luyanda Sokhela</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>14:00</td>        <!-- time    -->
          <td>River connectivity: considering the movement of fish when constructing instream barriers</td>        <!-- content -->
          <td>Dr Matthew Burnett</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>15:00</td>        <!-- time    -->
          <td>Hydrology</td>        <!-- content -->
          <td>Ms Katelyn Johnson</td>        <!-- speaker-->
        </tr>
        <tr>               <!-- row 4   -->
          <td>16:00</td>        <!-- time    -->
          <td>Lab Data Analysis</td>        <!-- content -->
           <td>UKZN</td>       <!-- speaker -->
        </tr>
        <tr>               <!-- row 4   -->
          <td>17:30</td>        <!-- time    -->
          <td>Closing</td>        <!-- content -->
           <td>UKZN/SAICE</td>       <!-- speaker -->
        </tr>
      </table>
    </div>
  </div>