iframe{
	hspace:0.1%;
}
.button{
	background-color:#1ddd8b;
	text-align: center;
	margin: 20px 0 20px 0;
	font-size: 2.5em;
	cursor: pointer;
	border: none;
	color: #fff;

	&:hover{
		background: #0f804f;
	}
}

h1 img.logo {
	width: 230px;
	vertical-align: middle;
}

.content {
	// position:absolute;
	background-color: rgba(0, 0, 0, 0.2);
	background-image: none;
	padding: 40px 40px;
	font-weight: 300;
	// width:100%;
}

	
// }
.description {
	padding:20px;
}
h4{
	font-size: 1.8em;
}

.table{
	text-align: left;
	
}
.jusmap {
	width: 100%;
	height: 440px;
	text-shadow: none;
	color: #333;
	border-radius: 3px;
	text-align: center;
}

.dates {
	font-size: 1.8em;
	margin: 0;
	padding: 0;
	font-size: 1.8em;
	background-color: rgba(207, 59, 62, 0.40);
	padding: 10px;

	a svg {
		fill: #ffacac;
	}
}

.gallery {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	// margin-top: -45px;
	background-color: rgba(247, 245, 245, 0.2);

	a {
		height: 200px;
		position: relative;
		width: 33%;
		box-sizing: border-box;
		margin: 30px 0;
		display: flex;
		align-items: center;
		

		.inner-wrapper {
			padding: 0 10px;
			margin: 0 auto;
		}

		@media #{$tablet} {
			width: 50%;
		}

		@media #{$desktop} {
			width: 33%;
		}

		img {
			width: 100%;
			max-width: 400px;
			border: 1px solid #000;
		}

		&:hover {
			text-decoration: underline;
		}

		.caption {
			position: absolute;
			bottom: -45px;
			left: 0;
			text-align: center;
			width: 100%;
		}
	}
}

.powered-by-eb {
	display: none;
}

.sharing {
	text-align: center;

	a {
		background: #000;
		margin: 0 30px 50px 0;
		width: 35px;
		height: 35px;
		padding: 10px;
		display: inline-block;
		border-radius: 100px;

		&.email {
			background-color: #ff9d09;
		}

		&.facebook {
			background-color: #3b5998;
		}

		&.twitter {
			background-color: #55acee;
		}

		&.google-plus {
			background-color: #db4437;
		}

		&.youtube {
			background-color: #cd201f;
		}

		&.instagram {
			background-color: #f167f5;
		}

		&.linkedin {
			background-color: #0077b5;
		}

		&.pinterest-icon:hover svg {
			fill: #bd081c;
		}

		svg {
			height: 100%;
			width: 100%;
			font-size: 2em;
			top: 0;
		}
	}
}
.grid {
	margin: 0 auto;
	.grid-item {
		width: 300px;
		line-height: 0;
		margin: 0;
		box-sizing: border-box;
		a {
			display: inline-block;
			img {
				width: 100%;
			}
		}
	}
}

.copyright {
	text-align: center;
	font-size: .9em;
}

.success {
	background: #1ddd8b;
	padding: 10px;
	text-shadow: none;
	display: none;
}
